main{
    padding-top: 6rem;
    min-height: 100dvh;

    
    .form-container{
        background-color: #fff;
        border-radius: 15px;
        padding: 2rem;

        .trash:hover{
            transform: scale(1.1);
            transition: ease 10ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}