.cv-container {
  width: calc(210mm * 0.8);
  height: calc(297mm * 0.8);
  transform-origin: center;
  margin: auto;
  background: white;
  padding: 1rem;
  margin: 0 auto;
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  min-height: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cv-header {
    text-align: left;
    margin-bottom: 24px;
}

.cv-name {

    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #000;
}

.cv-title {
    font-size: 18px;
    margin-bottom: 1rem;
}

.cv-contact {
  margin: 2px 0;
}

.cv-section {
  margin-bottom: 20px;
  ul {
    list-style-type: disc;
  }


}

.cv-section-title {
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin-bottom: 8px;
  font-size: 16px;
}

.cv-job, .cv-edu {
  margin-bottom: 12px;
}
.cv-job{
  display: flex;
  justify-content: space-between;
}

.cv-job-title, .cv-edu-title {
  font-weight: bold;
}

.cv-job-date, .cv-edu-date {
  font-style: italic;
}

.cv-job-location, .cv-edu-location, .cv-edu-school {
  font-size: 13px;
  color: #555;
}

.cv-skills li {
  margin-bottom: 4px;
}
